<html>
<head>
    <meta charset="utf-8">
    <title> Trello</title>
    <link rel="icon" type="image/png" href="./img/trello-logo.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="./img/trello-logo.png" sizes="16x16"/>
    <link type="text/css" rel="stylesheet" href="./css/index.css">
</head>

<body style=" background-image: url('./img/programming.jpg');">

    <div class="background"></div>

    <header>
        <div class="header-wrapper">
            <a href="#" class="brand-logo"> Trello</a>
            <ul>
              <li><a href="login.html">Login</a></li>
            </ul>
        </div>
    </header>

    <div class="title-area">
        <div class="title">Trello</div>
        <div class="subtitle">'Trello lets you work more collaboratively and get more done.'</div>
    </div>

<script type="text/javascript" src="./js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="authclient.js"></script>
</body>
</html>
